{% extends 'base.html' %}
{% block title %}Checklist Templates{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Checklist Templates</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Checklist Name</th>
                        <th>Team</th>
                        <th>Department</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for checklist in checklist_templates %}
                    <tr>
                        <td>{{ checklist.name }}</td>
                        <td>{{ checklist.team.name }}</td>
                        <td>{{ checklist.team.department.name }}</td>
                        <td>
                            <a href="{% url 'checklist_template_edit' checklist.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'checklist_template_delete' checklist.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'checklist_template_new' %}" class="btn btn-success">Add New</a>
        </div>
    </div>





{% endblock %}