{% extends 'base.html' %}
{% block title %}Checklist Instances{% endblock %}

{% block content %}

<h1>Checklist Instances</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Checklist Name</th>
            <th>Instance Id</th>
            <th>Created on</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if checklist_instances|length == 0 %}
        <tr>
            <td colspan="4">No checklist instances found</td>
        </tr>
        {% endif %}

        {% for checklist in checklist_instances %}
        <tr>
            <td>{{ checklist.checklist_template.name }}</td>
            <td>{{ checklist.id }}</td>
            <td>{{ checklist.created_on }}</td>
            <td>
                <a href="{% url 'checklist_instance_delete' checklist.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
