{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Departments{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Departments</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Department Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                        <tr>
                            <td>{{ department.name }}</td>
                            <td>
                                <a href="{% url 'department_edit' department.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'department_delete' department.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'department_new' %}" class="btn btn-success">Add New</a>
            </div>
        </div>
    {% endblock %}
</body>

</html>

