{% extends 'base.html' %}
{% block title %}Update Task{% endblock %}

{% block content %}

{% if task_instance.status == 'Not Started' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Are you sure you want to sign off as processor?</h1>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Yes</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">No</a>
            </form>
        </div>
    </div>
</div>
{% elif task_instance.status == 'Awaiting Verification' %}

{% if task_instance.processed_by.username == user.username %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>You cannot verify a task you have processed</h1>
            <a href="{% url 'index' %}" class="btn btn-info">Go Back</a>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Are you sure you want to sign off as verifier?</h1>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Yes</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">No</a>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endif %}

{% endblock %}

    