{% extends 'base.html' %}
{% block title %}Task Instances{% endblock %}

{% block content %}

<h1>Task Instances</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Instance Id</th>
            <th>Created on</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if task_instances|length == 0 %}
        <tr>
            <td colspan="4">No task instances found</td>
        </tr>
        {% endif %}

        {% for task in task_instances %}
        <tr>
            <td>{{ task.task_template.name }}</td>
            <td>{{ task.id }}</td>
            <td>{{ task.created_on }}</td>
            <td>
                <a href="{% url 'task_instance_delete' task.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}


