{% extends 'base.html' %}
{% block title %}Task Templates{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Task Templates</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Task Description</th>
                        <th>Checklist</th>
                        <th>Team</th>
                        <th>Department</th>
                        <th>Due at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_templates %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.checklist_template.name }}</td>
                        <td>{{ task.checklist_template.team.name }}</td>
                        <td>{{ task.checklist_template.team.department.name }}</td>
                        <td>{{ task.due_at }}</td>
                        <td>
                            <a href="{% url 'task_template_edit' task.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'task_template_delete' task.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'task_template_new' %}" class="btn btn-success">Add New</a>
        </div>
    </div>
</div>

{% endblock %}