{% extends 'base.html' %}
{% block title %}Teams{% endblock %}

{% block content %}

<h1>Teams</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Team ID</th>
            <th>Team Name</th>
            <th>Department</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.id }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.department.name }}</td>
            <td>{{ team.description }}</td>
            <td>
                <a href="{% url 'team_edit' team.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'team_delete' team.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'team_new' %}" class="btn btn-success">Add New</a>

{% endblock %}