{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}

<h1>User List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Departments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.user.username }}</td>
            <td>{{ profile.department }}</td>
            <td>
                <a href="{% url 'user_edit' profile.id %}" class="btn btn-primary">Edit Department</a>
                <a href="{% url 'user_delete' profile.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<!-- add -->
<a href="{% url 'user_edit' %}" class="btn btn-success">Add New</a>

{% endblock %}
